html, body, div, input, span, a, select, textarea, option, h3,  main, aside, article, section, header, p, footer, nav, pre {
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}
html {
    width: 100%; 
    height: 0; 
    padding-bottom: 56.25%; 
    background-image: url('survey.jpg');
    background-size: cover;
    background-position: center;
}
input,textarea,select {
    outline: 0;
}
h1 {
    margin: 0;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Moon Dance', cursive;
    
}
h4{
    margin: 0;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    color: #e2c3c3;
    font-family: 'Ysabeau Infant', sans-serif;

}
h2 {
    margin: 0;
    text-align: left;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Ysabeau Infant', sans-serif;
}

.form-group {
    resize: none;
    margin-top: 10px;
    padding: 10px;
    padding-left: 10px;

    width: 100%;
    height: 100px;
}
.fact {
    resize: none;
    margin-top: 5px;
    padding-left: 10px;
align-items: center;
    width: 490px;
    height: 70px;
}

.survey-form {
    background-color:rgba(194, 156, 75, 0.5);;
    border-radius: 10%;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

.survey-form select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #fff7f7 50%), linear-gradient(135deg, #fff8f8 50%, transparent 50%), linear-gradient(to right, #fffcfc, #ffffff);
    background-position: calc(100% - 20px) 20px, calc(100% - 15px) 20px, calc(100% - 40px) 10px;
    background-size: 5px 5px, 5px 5px, 1px 25px;
    background-repeat: no-repeat;
}
.survey-form select option:first-child {
    display: none;
 }

.survey-form input[type="text"], 
.survey-form input[type="email"],
.survey-form select {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    flex-basis: 100%;
    height: 47px;
}
.survey-form input[type="text"]:focus, 
.survey-form input[type="email"]:focus,
.survey-form select:focus {
    border: 1px solid #c6c7c7;
}
.survey-form input[type="text"]::placeholder, 
.survey-form input[type="email"]::placeholder, 
.survey-form input[type="tel"]::placeholder, 
.survey-form input[type="date"]:invalid, 
.survey-form textarea::placeholder,
.survey-form select:invalid {
    color: #858688;
}
.survey-form textarea {
    resize: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #fff3f3;
    width: 100%;
    height: 150px;
}
.survey-form textarea:focus {
    border: 1px solid #000000;
}
.survey-form .buttons {
    padding: 20px;
    border-top: 1px solid #fff3f3;
}
.survey-form .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    background-color: #f9f9f9;
    font-weight: bold;
    color: #746f6f;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
}
.survey-form .btn:hover {
    background-color: #988f8f;
}
.survey-form .btn.alt {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.survey-form .btn.alt:hover {
    border: 1px solid#ffffff;
    color: #fffafa;  
}
.survey-form input[name="email"] {
    position: relative;
    display: block;
}
.survey-form .field {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.survey-form label, .survey-form p {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.form-group {
    margin-bottom: 15px;
}
.survey-form .field i {
    position: absolute;
    color: #dfe2e5;
    top: 25px;
    left: 15px;
    z-index: 10;
}

.survey-form .responses {
    padding: 15px;
    margin: 0;
}
.survey-form .fields .wrapper {
    display: flex;
    justify-content: space-between;
}
.survey-form .fields .wrapper > div {
    width: 100%;
}
.survey-form .fields .wrapper .gap {
    width: 35px;
}
.survey-form .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: calc(100% - 35px);
    align-self: center;
    margin: 0 auto;
}
.survey-form .steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f2f4f7;
    margin: auto 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.survey-form .steps .step {
    width: 25px;
    height: 25px;
    background-color: #f2f4f7;
    border: 3px solid #f2f4f7;
    border-radius: 50px;
    z-index: 1;
}
.survey-form .steps .step.current {
    background-color: #868d93;
}
.survey-form .steps .step.complete {
    background-color: #000000;
}
.survey-form .rating {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.survey-form .rating input[type="radio"]:checked,
.survey-form .rating input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.survey-form .rating input[type="radio"]:checked + label,
.survey-form .rating input[type="radio"]:not(:checked) + label
{
    display: flex;
    position: relative;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    cursor: pointer;
    color: #000000;
    z-index: 10;
}
.survey-form .rating input[type="radio"]:checked + label:before,
.survey-form .rating input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #dfe0e0;
    border-radius: 100%;
    background: #fff;
    z-index: -1;
}
.survey-form .rating input[type="radio"]:checked + label:after,
.survey-form .rating input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background: #80726c;
    z-index: -1;
}
.survey-form .rating input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
.survey-form .rating input[type="radio"]:checked + label {
    color: #fff;
}
.survey-form .rating input[type="radio"]:checked + label:after {
    opacity: 1;
}
.survey-form .rating-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #efd0d0;
    padding: 15px 0 25px;      
}
.survey-form .group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 15px;
}
.survey-form .group label {
    display: flex;
    font-weight: 500;
    height: 25px;
    align-items: center;
    padding-bottom: 5px;
}
.survey-form .group input[type="radio"],
.survey-form .group input[type="checkbox"] {
    appearance: none;
    display: inline-flex;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #dfe0e0;
    background-color: #eef1f1;
    border-radius: 50%;
    margin-right: 10px;
}
.survey-form .group input[type="radio"]:hover,
.survey-form .group input[type="checkbox"]:hover {
    border: 1px solid #000000;
}
.survey-form .group input[type="radio"]:checked,
.survey-form .group input[type="checkbox"]:checked {
    border: 1px solid #d2d3d3;
    background-color: #7a7d80;
}
.survey-form .group input[type="checkbox"] {
    border-radius: 0;
}
.survey-form .step-content {
    display: none;
}
.survey-form .step-content.current {
    display: block;
}
.survey-form .result {
    padding: 25px;
}
.survey-form .result h3 {
    color: #ffffff;
}
.survey-form .result p {
    font-weight: 500;
}
.survey-form .yesno input[type="radio"]:checked {
    border: 1px solid #d2d3d3;
    background-color: #787b7d;

}
.yesno{
    height: 50px;
}
.survey-form .yesno input[type="radio"] {
    appearance: none;
    display: inline-flex;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #dfe0e0;
    background-color: #eef1f1;
    border-radius: 50%;
    margin-right: 10px;
}
.survey-form .yesno input[type="radio"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #dfe0e0;
    border-radius: 100%;
    background: #fff;
}
.survey-form .yesno input[type="radio"]:checked + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background: #80726c;
    
}
.survey-form .fields {
    position: relative;
    padding: 20px;
}
.field {
    resize: none;
    margin-top: 10px;
    padding: 5px;

    width: 100%;
    height: 250px;
}